html {
    background: deepskyblue;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

div#gridcontainer {
    position: absolute;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 10px;
}

.item {
    background: bisque;
    border: solid 1px black;
}

div#flexcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

button#nextButton {
    position: absolute;
    top: 600px;
    border: solid 1px black;
    background: gold;
    color: black;
    font-size: 2em;
    padding: 20px;
}

div#playerContainer {
    display: flex;
    position: absolute;
    width: 90%;
    top: 20px;
    justify-content: space-between;
}

div#currentPlayer {
    background: deeppink;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    border: solid 1px black;
    font-size: 1.5em;
    padding: 20px;
}

div.points {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background: gold;
    padding: 20px;
    border: solid 1px black;
}


